*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

:root {
  --light-blue: #169bd7;
  --paypal-blue: #253b80;
  --dark-blue: #222d65;
}

@font-face {
  font-family: "PayPalSansReg";
  src: url("assets/fonts/paypal-sans-font/others/PayPal.ttf") format("truetype");
}
@font-face {
  font-family: "PaypalSansSmall";
  src: url("assets/fonts/paypal-sans-font/PayPalSansSmall-Medium-Klim.ttf")
    format("truetype");
}
@font-face {
  font-family: "PayPalSansBigLight";
  src: url("assets/fonts/paypal-sans-font/PayPalSansBig-Light-Klim.ttf")
    format("truetype");
}

body {
  font-family: "PayPalSansReg", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  background-color: #fff;
  padding: 15px 0;
  border-bottom: 1px solid #eaeaea;
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
}

.menu-btn {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 39px;
  width: 86px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid #0070ba;
  border-radius: 25px;
  background-color: white;
}

.hamburger-menu {
  width: 13px;
  height: 1px;
  background-color: #0070ba;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  text-indent: 20px;
  line-height: 0.1;
  transform: translateX(-20px);
  color: #0070ba;
  font-size: 0.78rem;
  font-weight: bold;
}
.hamburger-menu::before,
.hamburger-menu::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 1px;
  border-radius: 4px;
  background-color: #0070ba;
  transition: all 0.3s ease-in-out;
  left: 0;
}
.hamburger-menu::before {
  transform: translateY(-5px);
}
.hamburger-menu::after {
  transform: translateY(5px);
}

.menu-btn.open .hamburger-menu {
  background-color: transparent;
}

.menu-btn.open .hamburger-menu::before {
  transform: rotate(227deg) translateY(0px);
}

.menu-btn.open .hamburger-menu::after {
  transform: rotate(-225deg) translateY(1px);
}

.menu-btn:focus .hamburger-menu {
  text-decoration: underline;
}

.logo {
  display: flex;
  align-items: center;
  height: 40px;
}

.logo a {
  background: transparent
    url(https://www.paypalobjects.com/digitalassets/c/website/logo/full-text/pp_fc_hl.svg)
    center center no-repeat;
  width: 28px;
  height: 30px;
  display: inline-block;
  text-indent: -9999px;
  overflow: hidden;
  background-position: 0 50%;
  background-size: cover;
  background-clip: border-box;
  padding: 0;
  background-origin: border-box;
}

nav {
  display: none;
}

nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #2c2e2f;
  font-weight: 600;
  font-size: 0.875rem;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 1px;
  line-height: 2.7;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn > a {
  margin-left: 8px;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.78rem;
  text-transform: capitalize;
  position: relative;
  padding: 10px 24px;
  border-radius: 1.8rem;
  transition: all 0.3s ease-in-out;
}

.login {
  color: #0070ba;
  border: 1px solid #0070ba;
  background-color: white;
}
.signup {
  color: white;
  background-color: #0070ba;
  display: none;
}
.signup:hover {
  background-color: #005ea6;
}

/* Main*/

/* Hero Section */

.hero {
  background-color: #fff;
  height: 650px;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content-container {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 10px);
  width: 100%;
  text-align: center;
  z-index: 1;
  color: #fff;
}
.hero-content-container h1 {
  font-size: 1.7rem;
}
.hero-content-container button {
  margin-top: 20px;
  cursor: pointer;
  color: var(--paypal-blue);
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 25px;
}

.hero .video-container {
  /* height: 650px; */
  height: 100%;
  width: 100%;
  overflow: hidden;
  width: 100%;
  position: relative;
  border: 3px solid peru;
}

.video-container > video {
  min-width: 100%;
  min-height: 100%;
  border: 1px solid red;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}

/* banner section */

.banner {
  font-family: PayPalSansBigLight, Arial, sans-serif;
  background-color: #fff;
  width: 100%;
  background-color: #02387b;
  height: 160px;
  padding: 10px 25px;
}
.banner-p {
  color: #fff;
  font-size: 27px;
  font-weight: 100;
  text-align: center;
  margin: 0 0 20px 0;
  line-height: 1.2;
}

/* Editorial */
.editorial-section {
  background-color: #fff;
  padding: 50px 0;
}
.editorial {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  min-height: 350px;
}
.editorial-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.editorial-content h2 {
  color: #00a8ea;
  font-size: 2.3rem;
  font-weight: 100;
  margin-bottom: 20px;
  line-height: 1.2;
}
.editorial-content p {
  font-size: 1rem;
  font-weight: 600;
  line-height: normal;
  font-family: PayPalSansBigLight, Arial, sans-serif;
  margin-bottom: 20px;
}
.editorial-content button {
  color: #0070ba;
  cursor: pointer;
  width: 300px;
  outline: none;
  font-size: 0.9375rem;
  padding: 12px 0;
  border: 1px solid #0070ba;
  border-radius: 25px;
  background-color: white;
  font-weight: bolder;
  font-family: PayPalSansSmall, Arial, sans-serif;
}
.editorial-image {
  width: 350px;
  max-height: 350px;
  overflow: hidden;
  padding: 20px;
}
.editorial-image img {
  max-width: 90%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .editorial-section {
    padding: 0;
  }
  .editorial {
    flex-direction: column;
  }
  .editorial-content {
    width: 350px;
    height: 350px;
    padding: 0;
    align-items: center;
  }
  .editorial-image {
    max-width: 90%;
    max-height: 350px;
  }
}

/* Module Tree */

.module-tree {
  background-color: #fff;
  padding: 50px 0;
  margin: 15px;
}
.module-tree > .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.module-tree > .container h2 {
  color: #00a8ea;
  font-size: 2.3rem;
  font-weight: 100;
  margin-bottom: 20px;
  line-height: 1.2;
}
.module-tree-image-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
  width: 100%;
}
.module-tree-image {
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .module-tree-image-container {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

/* Pullout */

.pullout {
  background-color: #00a8ea;
  padding: 30px 0;
}
.pullout > .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pullout-content p {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 100;
  margin-bottom: 20px;
  line-height: 1.2;
  text-align: center;
}
.pullout > .container button {
  color: #0d3685;
  cursor: pointer;
  width: 300px;
  outline: none;
  font-size: 0.9375rem;
  padding: 12px 0;
  border: 1px solid #fff;
  border-radius: 25px;
  background-color: white;
  font-weight: bolder;
  font-family: PayPalSansSmall, Arial, sans-serif;
}

/* Clock */

.clock {
  width: 100%;
  height: 150px;
  border: 1px solid black;
  background-color: #00a8ea;
}

/* Terms & Conditions */
.disclosure {
  background-color: #fff;
  margin: 40px auto;
}
.disclosure p {
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}

/* FOOTER */
/* Footer Nav */
.footer-nav_container {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  border-bottom: 1px solid rgb(184, 179, 179);
}
.footer-nav_container > .image-container {
  position: relative;
  width: 24px;
  height: 16px;
  background-color: rgba(252, 252, 252, 0.5);
  cursor: pointer;
}
.footer-nav_container > .image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
ul.footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.footer-nav li {
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
ul.footer-nav li:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1133px) {
  .footer-nav_container {
    gap: 20px;
    flex-direction: column;
    justify-content: center;
  }
  .footer-nav_container > .image-container {
    width: 20px;
    height: 14px;
  }
  ul.footer-nav li {
    font-size: 0.8125rem;
  }
}
@media screen and (max-width: 730px) {
  .footer-nav_container {
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
  }
}

/* Responsive Screen  */
@media screen and (max-width: 768px) {
  .banner-p {
    font-size: 20px;
  }
  .banner-p span {
    display: none;
  }
  .banner {
    height: 120px;
  }
}

.banner button {
  margin: 5px auto 5px auto;
  display: block;
  font-family: PayPalSansReg, Arial, sans-serif;
  cursor: pointer;
  color: var(--paypal-blue);
  width: 150px;
  height: 36px;
  border: none;
  font-size: 12px;
  font-weight: 600;
  border-radius: 25px;
}

/* Info, Policies & Legal */
.info {
  color: rgb(110, 110, 110);
}

.footer-legal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.footer-legal-policies {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.footer-legal-policies > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
  flex-wrap: wrap;
}
.footer-legal-policies > ul li {
  font-size: 0.9125rem;
  font-weight: 600;
  line-height: normal;
}
.community-nav li:hover,
.policies-nav li:not(:first-child):hover {
  text-decoration: underline;
  cursor: pointer;
}
.footer-legal > p {
  margin: 5px 0;
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 0.8525rem;
  line-height: 1.5;
}
.footer-legal > p a {
  color: #0070ba;
  text-decoration: none;
  cursor: pointer;
}
.footer-legal > p a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1133px) {
  .footer-legal-policies {
    gap: 20px;
    flex-direction: column;
  }
}
@media screen and (max-width: 730px) {
  .footer-legal-policies {
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-legal-policies > ul {
    justify-content: flex-start;
  }
  .footer-legal-policies > ul li {
    font-size: 0.8125rem;
  }
  .footer-legal > p {
    text-align: left;
  }
}
/* Disclaimer */
.footer-disclaimer {
  margin-bottom: 50px;
}

.footer-disclaimer p {
  font-size: 0.8525rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  margin: 5px 0;
}
.footer-disclaimer p a {
  color: #0070ba;
  text-decoration: none;
  cursor: pointer;
}
.footer-disclaimer p a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 730px) {
  .footer-disclaimer {
    margin-bottom: 20px;
  }
  .footer-disclaimer p {
    text-align: left;
  }
}

/* Responsive Screen  */
@media screen and (min-width: 1720px) {
  .hero {
    border: 1px solid black;
    height: 650px;
  }
}

@media screen and (min-width: 1152px) {
  .container {
    max-width: 1192px;
  }
  .nav-link {
    padding: 25px 15px 23px 15px;
    margin: 0 1px;
  }
  .hero {
    border: 1px solid green;
    height: 500px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 0 48px;
    max-width: 1151px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0;
    max-width: 1023px;
  }
  .hero-content-container {
    width: 760px;
  }
  .hero-content-container h1 {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 576px) {
  .container {
    padding: 0 36px;
    /* max-width: 850px; */
  }
}

@media screen and (min-width: 992px) {
  .container {
    padding: 0;
    max-width: 960px;
  }
  header {
    height: 76px;
    display: block;
  }
  nav {
    display: initial;
  }
  .signup {
    display: initial;
  }
  .menu-btn {
    display: none;
    height: 40px;
  }
  .logo {
    height: 55px;
  }
  .logo a {
    width: 136px;
    height: 46px;
    background-size: contain;
  }
  .btn > a {
    font-size: 0.8rem;
    letter-spacing: 1px;
    padding: 12px 24px;
  }
  .hero-content-container {
    top: 40px;
    transform: translate(-50%, 40px);
    width: 750px;
  }
  .hero-content-container h1 {
    font-size: 2.3rem;
  }
}
